@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "personal";
  src: url("../font/personal.ttf") format("truetype");
}
* {
  font-family: "Nunito", sans-serif;
  color: #2e2e2e;
}

body {
  background-color: #f9f9f9;
}

.text {
  color: #474747;
  font-size: 1.25rem;
}

.sub-title {
  font-size: 128px;
  font-weight: 600;
  position: relative;
  z-index: 1000;
  margin-bottom: 16px;
}
.sub-title::before {
  content: "";
  position: absolute;
  left: -48px;
  top: 33%;
  transform: translateY(-50%);
  width: 140px;
  height: 140px;
  background-image: url("../img/icon/detalhe.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: block;
  color: #2e2e2e;
  padding: 4px 12px;
  border: 2px solid #2e2e2e;
  box-shadow: 0px 4px 1px #2e2e2e;
  border-radius: 28px;
  cursor: pointer;
}
.btn:hover {
  background: #FFCC00;
  transition: 0.4s ease-in;
}
.btn:focus {
  box-shadow: 0px 1px 0px;
  transition: all 0.1s ease-out;
}

.input, textarea {
  color: #2e2e2e;
  padding: 4px 12px;
  border: 2px solid #2e2e2e;
  border-radius: 28px;
  width: 100%;
  font-size: 0.875rem;
  padding: 8px;
  text-indent: 8px;
}
.input:focus, textarea:focus {
  border-color: 2px solid #FFCC00;
}

header .container {
  padding: 8px 0;
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
}

.logo p {
  position: absolute;
  left: -1000px;
}

.nav ul {
  display: flex;
  gap: 20px;
}
.nav ul li {
  display: flex;
  align-items: center;
}
.nav ul a {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
}

.efeito a::after {
  content: " ";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: -1px;
  background: #474747;
  border-radius: 6px;
}

.efeito a:hover::after {
  width: 100%;
  transition: 0.4s width ease-in;
}

main {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main h1 {
  font-family: "personal", sans-serif;
  font-size: 64px;
}
main h2 {
  font-size: 32px;
}

#about {
  padding: 60px 0;
  display: flex;
  gap: 40px;
}
#about p {
  width: 60ch;
}

#projects {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
}
#projects p {
  max-width: 60ch;
  margin-bottom: 60px;
}

#about-project {
  padding: 60px 0;
}

.icon {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.icon div {
  display: flex;
  width: 80px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.all-projects {
  padding: 60px 0;
}

.project-item {
  background-color: aquamarine;
  display: flex;
  gap: 40px;
}
.project-item .site-img {
  width: 100%;
}
.project-item .site-description {
  width: 470px;
}

#contact {
  padding: 60px 0;
}
#contact > div {
  display: flex;
  gap: 40px;
}

#contact-text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 68px;
}
#contact-text > p,
#contact-text span {
  font-size: 3rem;
  line-height: 1.2;
}
#contact-text span {
  color: #FFCC00;
  font-weight: 600;
}

#contact-web {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#contact-web > div {
  display: flex;
  gap: 12px;
}
#contact-web p {
  font-weight: 600;
  text-indent: 4px;
}

#form {
  width: 100%;
}
#form .form-group {
  margin-bottom: 16px;
}
#form .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 2px solid rgb(224, 224, 224);
  font-weight: 600;
}
footer p {
  font-weight: 600;
}
footer img {
  width: 48px;
}
footer .nav ul a {
  font-size: 1rem;
}
footer .nav ul a:hover {
  color: #FFCC00;
  transition: all 0.4s;
}

/*# sourceMappingURL=style.css.map */
