#about {
  padding: 60px 20px;
  display: flex;
  gap: 40px;

  p {
    max-width: 60ch;
  }
}

@include d(m) {
  #about {
    padding: 40px;

    p {
      width: 30ch;
    }
  }
}

@include d(s) {
  #about {
    padding: 20px;
    p{
      width: 100%;
    }

    .about-img {
      display: none;
    }
  }
}