#contact {
    padding: 60px 20px;

    >div {
        display: flex;
        gap: 40px;
        margin-top: 20px;
    }
}

#contact-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 68px;
    >p,
    span {
        font-size: 3rem;
        line-height: 1.2;
    }

    span {
        color: $details;
        font-weight: 600;
    }
}

#contact-web {
    display: flex;
    flex-direction: column;
    gap: 12px;

    >div {
        display: flex;
        gap: 12px;
    }

    p {
        font-weight: 600;
        text-indent: 4px;
        font-size: 1.2rem;
    }
}

#form {
    width: 100%;

    .form-group {
        margin-bottom: 16px;

        label {
            display: block;
            font-weight: 600;
            margin-bottom: 4px;
        }

        textarea {
            height: 140px;
            resize: none;
        }
    }
}

@include d(m) {
    #contact {
        padding: 40px;

        >div {
            flex-direction: column;
        }
    }

    #contact-text {
        gap: 20px;

        p,
        span {
            font-size: 2rem;
            line-height: 1;
        }

        #contact-web p {
            font-size: 1.2rem;
        }
    }
}

@include d(s) {
    #contact {
        padding: 20px;
    }

    #contact-text {

        p,
        span {
            font-size: 1.5rem;
            line-height: 1;
        }
    }

    #contact-web p {
        font-size: 1rem;
    }

    .btn {
        width: 100%;
    }
}