main {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: 'personal', sans-serif;
    font-size: 64px;
  }

  h2 {
    font-size: 32px;
  }
}
@include d(m){
  main{
    h1{
       font-size: 48px;
    }
    h2{
      font-size: 24px;
    }
  }
}

@include d(s){
  main{
    h1{
       font-size: 36px;
    }
    h2{
      font-size: 18px;
    }
  }
}