@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: 'personal';
  src: url('../font/personal.ttf') format('truetype');
}

$primary-color: #f9f9f9;
$secondary-color: #2e2e2e;
$text-color: #474747;
$details: #FFCC00;

$l-device: 1200px;
$m-device: 800px;
$s-device: 640px;


* {
  font-family: 'Nunito', sans-serif;
  color: $secondary-color;
}

body {
  background-color: $primary-color;
}

.text {
  color: $text-color;
  font-size: 1.25rem;
}

.sub-title {
  font-size: 128px;
  font-weight: 600;
  position: relative;
  z-index: 1000;

  &::before {
    content: '';
    position: absolute;
    left: -48px;
    top: 33%;
    transform: translateY(-50%);
    width: 140px;
    height: 140px;
    background-image: url('../img/icon/detalhe.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -10;
  }
}

.btn {
  display: block;
  color: $secondary-color;
  padding: 4px 12px;
  border: 2px solid $secondary-color;
  box-shadow: 0px 4px 1px $secondary-color;
  border-radius: 28px;
  background: #f9f9f9;
  cursor: pointer;
text-align: center;
  &:hover {
    background: $details;
    transition: .4s ease-in;
  }

  &:focus {
    box-shadow: 0px 1px 0px;
    transition: all .1s ease-out;

  }
}

.input,
textarea {
  color: $secondary-color;
  padding: 4px 12px;
  border: 2px solid $secondary-color;
  border-radius: 28px;
  width: 100%;
  font-size: 0.875rem;
  padding: 8px;
  text-indent: 8px;

  &:focus {
    outline: none; // geralmente remove o outline padrão pra usar só a borda
    border-color: #FFCC00; // muda a cor da borda no foco
    transition: all .4s;
  }
}


@mixin d($size) {
  @if $size =="l" {
    @media screen and (min-width: $l-device) {
      @content;
    }
  }

  @else if $size =="m" {
    $max-m: $m-device - 1px; // até 767px

    @media screen and (max-width: $max-m) {
      @content;
    }
  }

  @else if $size =="s" {
    $max-s: $s-device - 1px; // até 575px

    @media screen and (max-width: $max-s) {
      @content;
    }
  }
}


.container {
  max-width: $l-device;
  margin: 0 auto;
}

@include d(m) {
  .container {
    max-width: $m-device;
    padding: 0 20px;
  }

  .sub-title {
    font-size: 96px;

  }
}

@include d(s) {
  .container {
    max-width: $s-device;
    padding: 0 20px;
  }

  .sub-title {
    font-size: 72px;
  }

  .text {
    font-size: 1rem;
  }
}